version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: adsync_pgsql
    volumes:
      # This attaches the volume to the Postgres data folder
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  # This creates the named volume
  postgres_data: